// import de bootstrap
// @import '../node_modules/bootstrap/scss/bootstrap';

//import reset
@import 'partials/reset';

// import des fichiers personnalisées
@import'partials/custom-mixins';
@import 'partials/custom-typo';
@import 'partials/custom-functions';

// Import des formats de fichiers
@import 'blocks/search-recipe.scss';
@import 'blocks/card-recipe.scss';
@import 'blocks/dropdowns.scss';
@import 'blocks/criteria.scss';

// Utilisation du style pour le header
.header {
    @include header;
}

// style pour le bloc-page
.bloc-page {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: rem(1240);
    padding: 0 2%;
}

// Style pour le container des dropdowns
.dropdown-container {
    display: flex;
    gap: map-get($spacing, 'md');
    margin-bottom: map-get($spacing, 'xxxl');
}

//style pour le container des cards de recettes
.recipes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: map-get($spacing, 'md');
}