.recipe-card {
  max-width: rem(390);
  height: rem(364);
  background-color: $color-bg-light;
  border-radius: rem(5);
  transition: all 0.1s ease;
  cursor: pointer;

  &:hover {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
  }

  &__image-container {
    height: rem(178);
    width: 100%;
  }

  &__image {
    height: 178px;
    width: 100%;
    object-fit: cover;
    border-radius: rem(5) rem(5) 0 0;
    margin-bottom: map-get($spacing, 'md');
  }

  &__content-container {
    height: rem(186);
  }

  &__title-time-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: rem(16);
    font-size: rem(18);
    padding: 0 rem(20);

    & .recipe-card__title {
      width: 70%;
      line-height: rem(16);
    }

    & .recipe-card__time {
      font-weight: 700;
    }
  }

  &__description-ingredients-container {
    display: flex;
    width: 100%;
    padding: 0 rem(20);
    height: 55%;
  }

  &__servings-ingredients-container {
    width: 50%;
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding-right: 5px;
  }

  &__description-container {
    width: 50%;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}