.search-criteria {
    display: flex;
    &__item{
        font-weight: 700;
        font-size: rem(14);
        margin-bottom: rem(15);
        margin-right: rem(13);
    }
    &__container {
        display: flex;
        width: auto;

        &--ingredient {
            background-color:   #3282F7;
        }
        &--appliance {
            background-color:   #68D9A4;
        }
        &--utensil {
            background-color:   #ED6454;;
        }

    }
    &__close-icon {
        margin-left: rem(13);
        font-size: rem(14);
        color: $color-text-dark;
        cursor: pointer;
    }
}